# Copy to jenkins/.env (do not commit jenkins/.env)
#
# Mac:
#   COMPOSE_DIR=/Users/hsuan/Desktop/ems-backend
# EC2:
#   COMPOSE_DIR=/home/ec2-user/ems-backend

EC2_HOST=18.225.218.150
COMPOSE_DIR=/Users/hsuan/Desktop/ems-backend
SSH_KEY_PATH=/Users/hsuan/.ssh/ems-jenkins-key.pem
